.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  align-items: baseline;
}

.name {
  font-size: 20px;
  font-weight: 300;
}

.container {
  display: flex;
  gap: 50px;
}
